/*reset*/
#header.header-interna{
	position: fixed;
	z-index: 9999;
	width: 100%;
}
.page #wrapper > *:first-child, .archive #wrapper > *:first-child, .single-noticia #wrapper > *:first-child, .search #wrapper > *:first-child{
	margin-top:50px;
}
.page-template-page-home-banco #wrapper > *:first-child{
	margin-top:0;
}
.home #wrapper>*:first-child{
	margin-top: 0;
}
p, .zilla-one-half{
	color: #333;
	font-size: 16px;
}
.page-numbers{
	border-radius: 4px;
	border:0;
}
html ul.page-numbers>li> .page-numbers{
	border:0;
}
a {
	text-decoration: none!important;
}
.inline-block{
	display: inline-block;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding: 0!important
}
.container{
	width: 100%!important;
	padding: 0!important;
	margin: 0!important;
}
.row{
	padding:0!important;
}
.row.slider, .row.categorias{
	width: 100%;
	max-width: 1280px;
}
.row.slider .owl-wrapper-outer{

}
.cat-links a{
	color:#ff764c;
}

.cat-links{
	margin:0 0 20px;
	display: block;
	font-size: 18px;
	font-weight: 200;

}
/*reset*/
body{
}
.direita{
	float:right;
}
.esquerda{
	float: left;
}
html .navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 16px;
    padding: 10px 10px;
}
/*HEADER*//*HEADER*/
#header.header-todos{
	border-top: 15px solid #ff764d;
    
	padding-top:50px;
	padding-bottom: 50px;
	/*background-image: url('../images/fundo-header.png');*/
	background-size: cover;
	background-repeat: no-repeat;

}
#header.header-todos input{
	padding-right: 32px;
}
#header.header-todos input, #header.header-todos .form-group {
	background-color: #ff764d;
	border:none;
	width: 100%;
    box-shadow: none;


}
.texto-header{
    opacity: 1;
    padding-right: 20px!important;
    font-size: 14px;
    }
#header.header-todos form button.botao-busca{
	position: absolute;
	    position: absolute;
    background: transparent;
    top: 0;
    right: 0;
}
#header.header-todos form {
	    width: 33%;

}

#logo{
	text-align: center;
}
#logo img{
	max-width: 195px;
}
#header.header-todos form button.botao-busca img{
	width: 16px;
}
#header.header-banco{
	position: relative;
	width:100%;
	z-index: 999;
	background-color: #9ab87a;
	font-family: 'Ubuntu', sans-serif;
	font-style:italic;
	font-weight:200;
	-webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 11px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 11px 0px rgba(50, 50, 50, 0.75);
}
#header.header-banco a{
	color: #fff;


}
.home #header{
	background-color: #fff;
}
#header .container{
	width:980px!important;
	margin:0 auto!important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: transparent;
}

.header-banco .navbar-default .navbar-collapse,.header-banco .navbar-default .navbar-form{
	border:none;
	background-color: transparent;
	display:inline-block!important;
}
.navbar-default {
 	background-color: transparent;
   	border:none;
   	text-align: center;
}
.navbar-default ul li{
    margin: 0 12px;
}
#main-navigation nav{
	padding-left: 0;
	float: left;
}
#main-navigation nav li:first-child, #main-navigation nav li:first-child a{
	margin-left: 0;
	padding-left: 0;
}
#header #main-navigation{
	margin:0;
}
/*HEADER*//*HEADER*/
/*frontpage*/

.box-titulo{
	background-color: #f83d1d!important;
	position: absolute;
	padding:30px;
	right: 0;
    max-width: 435px;

	top: 50%;
    transform: translate(0%, -50%);
    color: #fff;
}
#slider-1	{
	max-width: 1280px;
	margin:0 auto;
}
#slider-1 .owl-item:nth-child(3n) .box-titulo{
	background-color: #9ab87a;
}
#slider-1 .owl-item:nth-child(2n) .box-titulo{
	background-color: rgb(22,122,192)!important;
}
.box-titulo h3{
	margin-top:0;
	font-weight: 200;
}
.home span.wpcf7-not-valid-tip{
	color:#fff;
	padding:10px 20px;
}
.home div.wpcf7-validation-errors, html div.wpcf7-mail-sent-ok{
	border-color:rgb(253, 87, 52);
	color:#fff;
	padding:0 20px 1px;
}
#form-footer .wpcf7-response-output, .wpcf7-form.contato .wpcf7-response-output{
	margin: 5px 0!important;

}
.wpcf7-form.contato img.ajax-loader {
    border: none;
    vertical-align: middle;
    margin: 30px 4px 0 0;
}
.cada-slide-1{
	position:relative;
    max-height: 400px;

}
.home #content{
    width: 100%;
    margin: 0 auto;
    display: block;
    float: none;
}
.home .loader{
	display: none;
}
.cada-slide-1 img{
	width:100%;
}
.cada-noticia:hover .noticia-titulo{

	opacity:1 ;
}
.cada-noticia .noticia-titulo p{
		color: #fff;
	}
.noticia-titulo a, .box-titulo a{
	color: #fff;
}
.noticia-titulo{
	z-index: 999;
-webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
	opacity:0 ;
	position: absolute;
    bottom: 0;
    height:100%;
    color: #fff;
    padding:42px 40px; 
}
.cada-noticia img{
	-webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.cada-noticia{
	z-index: 99;
	overflow: hidden;
	background-color: #000;
	position: relative;
}
div.cada-noticia:nth-of-type(4n+1), .cada-noticia-archive:nth-of-type(3n+1){
	clear:both;
}
.cada-noticia:hover img{
	opacity: 0.3;
} 
.row.categorias #categorias-conteudo{
	-webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.categorias .loader{
	position: absolute;
	left: 50%;
    transform: translate(-50%, 300px);

}
.row.destaques-contato{
	margin-top: 55px;
}
.pre-footer .box-footer .socials-pre{
	width: 100%;
	text-align: center;
}
#logo-abong{
	max-width: 100%;
}
.destaques-contato .contato> div, .pre-footer .box-footer{
	background-color: #ff754c;
    padding: 23px 0;
	position: relative;
	margin-bottom: 20px

}
.destaques-contato .contato> div h4, .destaques-contato .contato> div, .pre-footer .box-footer, .pre-footer .box-footer h4{
    font-weight: 300;
	font-size: 20px;

}
.destaques-contato .contato >div img.img-contato, .pre-footer .box-footer img.img-contato{
	position: absolute;
	left:20px;
	top: 20px;
}
.destaques-contato .contato input, .destaques-contato .contato input:active, .destaques-contato .contato input:focus, .pre-footer .box-footer input, .pre-footer .box-footer input:active, .pre-footer .box-footer finput:focus{
	background-color: #fd5734;
	color:#fff;
	border:none;
	box-shadow: none;
	outline: none;
	width: 100%;
	margin-top: 5px;
    padding: 12px 20px;
	font-weight: 100;
	font-size:14px; 


}

::-webkit-input-placeholder { color: #333333; opacity: 1 !important; }
:-moz-placeholder { color: #333333;}
::-moz-placeholder {color: #333333;}
:-ms-input-placeholder {color: #333333;}
#link-banco{
	background-color: transparent;
	position: absolute;
    background-image: url('../images/link-banco.png');
    width: 50px;
    height: 50px;
    color:transparent;
    background-repeat: no-repeat;
    right: 23px;
    bottom: -10px;
    background-size: cover;

}
html .owl-theme .owl-controls .owl-page span{
	background-color: #5f5d64;
}
html .owl-theme .owl-controls .owl-page.active span{
	background-color: #fd6c4c;
}
#categorias-nav  li a{
		color: #333333;
		opacity: 0.6;

}
html #categorias-nav .owl-wrapper{
	padding-bottom:12px;
}
#categorias-nav  li.current-cat a{
		border-bottom:solid 2px #ff7550;
		position: relative;
		opacity: 1;
}
#categorias-nav  li.current-cat a:after{
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: '';
    border-top: 15px solid #ff7550;
    position: absolute;
    bottom: -15px;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%);
}
#categorias-nav  li{
	list-style:none;
	font-size: 22px;
}
#categorias-nav {
	height: 37px;
	padding:10px 0;
	max-width: 992px;
	margin:33px auto;
	text-align: center;
}
.nav-slider{
	width:21px;
	height: 37px;
	background-size: cover;

}
html .owl-theme .owl-controls .owl-buttons div{
	padding:0; 
	width:21px;
	opacity: 1;
	position: absolute;
	top: -2px;
	height: 37px;
	background:transparent;

}
.owl-theme .owl-controls .owl-buttons div.prev-slider-cat{
	background-image: url('../images/seta-esq.png');
	left: -22px;
}
.owl-theme .owl-controls .owl-buttons div.owl-next{
	right: 0;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev{
	left:0;
}
.owl-theme .owl-controls .owl-buttons div.prox-slider-cat{
	background-image: url('../images/seta-dir.png');
    right: -22px;
}
.ver-todos{
	text-align: center;
}
.ver-todos button{
	margin:20px 10px;
	color:#fff;
	background-color: #ff754c;
	border:none;
	box-shadow: none;
}

.destaques-contato .contato input[type="submit"], .pre-footer .box-footer input[type="submit"] {
	background-color: transparent;
	position: absolute;
    background-image: url('../images/enviar-newsletter.png');
    width: 50px;
    height: 50px;
    color:transparent;
    background-repeat: no-repeat;
    right: 23px;
    bottom: -10px;
    background-size: cover;


}
.pre-footer{
	clear:both;
}
.box-footer{
    min-height: 223px;
   margin-top: 30px;

}

.box-footer:nth-child(1){
	border-right: 10px solid #fff; 
}
.box-footer:nth-child(2){
	border-left: 5px solid #fff;
	border-right:5px solid #fff;
}
.box-footer:nth-child(3){
	border-left: 10px solid #fff;
}

.destaques-contato .contato >div  h4, .pre-footer .box-footer h4{
	color: #fff;
	text-transform: none;
    margin: 0 20px 8px 80px;
}
.pre-footer .box-footer.meio h4{
	margin: 0 20px 20px 20px;	
}
.pre-footer .box-footer.meio img{
	-webkit-filter: contrast(235%);
    filter: contrast(160%);
	margin: 10px;	
}
.destaques-contato .link-banco p {
	margin: 1px 20px;
    color: #fff;
    font-size: 14px;
}
.pre-footer .box-footer.link-banco p{
	 margin: 24px 20px;
    color: #fff;
    font-size: 16px;
}
.destaques{
	padding-right: 15px!important;
}
.contato {
	padding-left: 15px!important;
}
.home #footer{
	border-top: solid 15px #ff764d;

}
.box-footer{
	padding-top:20px!important;
	padding-bottom: 20px!important;
}
#rodape-baixo #logos img{
	width: 40px;
	margin-left:3px;
}

/*frontpage*/
/*frontpage*/
/*frontpage*/
/*frontpage*/
.contato #news-contato input{
	width: 30px;
}
.contato  div.wpcf7-validation-errors, .contato div.wpcf7-mail-sent-ok{
	color:#333;
}
/*archive-noticias category.php*/
/*archive-noticias category.php*/
/*archive-noticias category.php*/
/*archive-noticias category.php*/
/*archive-noticias category.php*/
.header-interna .navbar-main-navigation{
	position: relative;
	width: 700px;
	    left: -200px;


}
.header-interna .navbar-default .navbar-toggle:hover, .header-interna .navbar-default .navbar-toggle:focus{
	background: transparent;
}
.header-interna .navbar-header{
	color: #fff;
}
.header-interna #logo img{
	max-width: 100%;
    margin-top: 12px;

}
.header-interna #main-navigation h4{
	    color: #fff;
    font-weight: 200;
    margin-left: 20%;
    margin-top: 14px;

}
.header-interna form{
	width: 30%
}
.header-interna .form-group{
	width: 100%
}
.navbar-toggle .icon-bar {
    width: 27px;
    margin-top: 7px;
    height: 3px;
}
.header-interna .navbar-form input[type="search"]{
	width: 100%;
	background-color: #0c619d;
	height:50px;
	margin:0;
	border:none;
	box-shadow: none;
	padding-right: 25px;
	color: #fff
}
.header-interna .navbar-toggle{
	border:none;
	color: #fff;
}
.header-interna .navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.header-interna .navbar-form {
	margin:0;

}
.header-interna .navbar-form .btn.botao-busca{
	position: absolute;
	right: -0;
	top:0;
	height: 50px;
	background:transparent;
}


.archive.category  #header.header-interna,
.archive.post-type-archive-noticia  #header.header-interna,
.archive.post-type-archive-fonte  #header.header-interna, 
.archive.post-type-archive-video  #header.header-interna, 
.search   #header.header-interna{
	background: rgb(22,122,192)!important;
}
.archive.category #header.header-interna a,
.archive.post-type-archive-publicacao #header.header-interna a,
.search #header.header-interna a,
.post-type-archive-noticia #header.header-interna a,
.archive.post-type-archive-noticia #header.header-interna a,
.archive.post-type-archive-fonte #header.header-interna a{
	color:#fff;
}
.archive.category #wrapper,
.archive.post-type-archive-publicacao #wrapper,
.search #wrapper,
.post-type-archive-noticia #wrapper,
.archive.post-type-archive-noticia #wrapper,
.archive.post-type-archive-fonte #wrapper,
.page #wrapper{


    /*background-image: url('../images/fundo-internas.png');*/
    background-repeat: no-repeat;
}
.body-banco .wrapper{

}
.archive.category .titulo,
.archive.post-type-archive-publicacao .titulo,
.archive.post-type-archive-noticia .titulo,
.archive.post-type-archive-fonte .titulo,
.archive.post-type-archive-video .titulo,
.search .titulo,
.page .titulo,
.single .titulo{
	width: 100%;
    text-align: center;
    text-transform: none;
    font-weight: 500;
    margin: 0 auto;
    padding: 35px 0;
    display: block;
    max-width: 980px;
    font-size: 37px;
}
.archive.category .cada-noticia-archive,
.archive.post-type-archive-publicacao .cada-noticia-archive,
.archive.post-type-archive-video .cada-noticia-archive,
.page .cada-noticia-archive,
.search .cada-noticia-archive,
.archive.post-type-archive-noticia .cada-noticia-archive,
.archive.post-type-archive-fonte .cada-noticia-archive
{
	position: relative;
	margin-bottom: 30px;
	padding:0 2%!important; 
}  

.titulo-materia-archive{
	position: absolute;
    bottom: 0;
    /*min-height: 80px;*/
    max-width: 350px;

    width: 88%;
    background-color: rgb(22,122,192)!important;
    color: #fff;
    padding: 7px 17px;
    font-weight: 200;
    font-style: italic;
}
.titulo-materia-archive a{
color: #fff;	
}
.seta-noticia{
	position: relative;
	left:94%;
	bottom:2%;
}
.archive.category ul.page-numbers>li>span.current,.archive.category ul.page-numbers>li>span.current:hover,
.archive.category ul.page-numbers>li>span.current:focus,
.search ul.page-numbers>li>span.current,
.search ul.page-numbers>li>span.current:hover, 
.search ul.page-numbers>li>span.current:focus,
.post-type-archive-noticia ul.page-numbers>li>span.current,
.post-type-archive-noticia ul.page-numbers>li>span.current:hover, 
.post-type-archive-fonte ul.page-numbers>li>span.current:focus,
.post-type-archive-fonte ul.page-numbers>li>span.current,
.post-type-archive-fonte ul.page-numbers>li>span.current:hover, 
.post-type-archive-fonte ul.page-numbers>li>span.current:focus,

.post-type-archive-video ul.page-numbers>li>span.current,
.post-type-archive-video ul.page-numbers>li>span.current:hover, 
.post-type-archive-video ul.page-numbers>li>span.current:focus,
.archive.post-type-archive-noticia ul.page-numbers>li>span.current,
.archive.post-type-archive-noticia ul.page-numbers>li>span.current:hover, 
.archive.post-type-archive-noticia ul.page-numbers>li>span.current:focus,
.archive.post-type-archive-fonte ul.page-numbers>li>span.current,
.archive.post-type-archive-fonte ul.page-numbers>li>span.current:hover, 
.archive.post-type-archive-fonte ul.page-numbers>li>span.current:focus{
	background-color: rgb(22,122,192);
    border-color: rgb(22,122,192);
    color: #fff;
}
.search .pagination>li>a,
.search ul.page-numbers>li>a,
.search .pagination>li>span, 
.search ul.page-numbers>li>span,
.post-type-archive-noticia .pagination>li>a,
.post-type-archive-noticia ul.page-numbers>li>a,
.post-type-archive-noticia .pagination>li>span, 
.post-type-archive-noticia ul.page-numbers>li>span,
.post-type-archive-video .pagination>li>a,
.post-type-archive-video ul.page-numbers>li>a,
.post-type-archive-video .pagination>li>span, 
.post-type-archive-video ul.page-numbers>li>span,
.archive.category .pagination>li>a,
.archive.category ul.page-numbers>li>a,
.archive.category .pagination>li>span, 
.archive.category ul.page-numbers>li>span,
.archive.post-type-archive-noticia .pagination>li>a,
.archive.post-type-archive-noticia ul.page-numbers>li>a,
.archive.post-type-archive-noticia .pagination>li>span, 
.archive.post-type-archive-noticia ul.page-numbers>li>span,
.archive.post-type-archive-fonte .pagination>li>a,
.archive.post-type-archive-fonte ul.page-numbers>li>a,
.archive.post-type-archive-fonte .pagination>li>span, 
.archive.post-type-archive-fonte ul.page-numbers>li>span{
	color:rgb(22,122,192);
}
.pagination-wrap {
   clear: both;
}
/*archive-noticias category.php*/
/*archive-noticias category.php*/
/*archive-noticias category.php*/
/*archive-noticias category.php*/
/*archive-noticias category.php*/

/*page*/
/*page*/
/*page*/
/*page*/
/*page*/
.thumb-page, .attachment-thumb-page{
	margin:0 auto;
	display: block;
}
.data-single{
	font-style: italic;
	font-weight: 900;
}
.single-noticia .attachment-thumb-page{
	margin-top:50px;
}
.single .header-interna .navbar-form input[type="search"],.page .header-interna .navbar-form input[type="search"]{
	background-color: #fc5833;

}
.single #footer ,.page #footer {
    border-top: solid 15px  #ff764c!important;
}
.single  #header.header-interna,.page  #header.header-interna{
	background: #ff764c!important;

}
.single #header.header-interna a,.page #header.header-interna a, .post-type-archive-video #header.header-interna a{
	color: #fff;
}
.single .pagination>li>a,.single ul.page-numbers>li>a,.single .pagination>li>span, .single ul.page-numbers>li>span,.page .pagination>li>a,.page ul.page-numbers>li>a,.page .pagination>li>span, .page ul.page-numbers>li>span{
	color:#ff764c;

}
.single ul.page-numbers>li>span.current,.single ul.page-numbers>li>span.current:hover, .single ul.page-numbers>li>span.current:focus,.page ul.page-numbers>li>span.current,.page ul.page-numbers>li>span.current:hover, .page ul.page-numbers>li>span.current:focus{
	background-color:#ff764c;
    border-color: #ff764c;
    color: #fff;
}
/*page*/
/*page*/
/*page*/
/*page*/
/*page*/
/*page*/
/*contato*/
.contato{
	max-width:350px;
	margin:0 auto;

}
.contato input, .contato textarea{
	width: 100%;
    box-shadow: none;
    border: solid 1px #ff764c;
    padding: 9px;
    background: #ff764c;
    color: #fff;

}
.contato input[type="submit"]{
	background: #ff764c;
	border-color: #ff764c;
	color: #fff;
}

/*404*/
/*404*/
/*404*/
/*404*/
/*404*/
/*404*/
.error404 .header-interna .navbar-form input[type="search"]{
	background-color: #fc5833;

}

.error404 #footer {
    border-top: solid 15px  #ff764c!important;
}
.error404  #header.header-interna{
	background: #ff764c!important;

}
.error404 #header.header-interna a{
	color: #ff764c;
}
.error404 .pagination>li>a,.error404 ul.page-numbers>li>a,.error404 .pagination>li>span, .error404 ul.page-numbers>li>span{
	color:#ff764c;

}
.error404 ul.page-numbers>li>span.current,.error404 ul.page-numbers>li>span.current:hover, .error404 ul.page-numbers>li>span.current:focus,
{
	background-color:#ff764c;
    border-color: #ff764c;
    color: #fff;
}
.error404 h1{
    margin: 50px 0 0;
	font-size: 76px;
    text-align: center;

	font-weight: 100;
}
.error404 h2{
    text-align: center;
    margin: 0px 0 50px;

	font-size: 40px;
	font-weight: 200;
}
/*404*/
/*404*/
/*404*/
/*404*/
/*404*/

/*video*/
/*video*/
/*video*/
/*video*/
/*video*/
.archive.post-type-archive-video .cada-noticia-archive {
	width: 366px;
	padding:0!important;
}
.post-type-archive-video .seta-noticia{
	display: none;
}
.post-type-archive-video .cada-noticia-archive .titulo-materia-archive{
	width:100%;
	position: relative;
	bottom: 5px;	
}

.masonry-container {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}
.masonry-container iframe{
	width: 100%;
	height: auto;
}
.item {
    position: relative!important;

     display: inline-block;
     padding:  8px 0px;
     width:  100%; 

}

.well {
    padding: 2px 0 !important;
    background-color: transparent!important;
    padding: 0!important;
    margin:0!important;
     position:relative;
     display: block;
}
.post-type-archive-video .titulo-materia-archive{
	width: 100%;
	position: relative;
	max-width: 100%;
}
/*video*/
/*video*/
/*video*/
/*video*/
/*video*/

/*search.php*/
/*search.php*/
/*search.php*/
/*search.php*/
/*search.php*/
/*search.php*/
.barra-busca{
		text-align: center;
	    margin-bottom: 35px;


}
ul.menu-busca li{
	list-style: none;
	display: inline-block;
	padding-right:10px 
}
ul.menu-busca li a{
	color:#333;
}
ul.menu-busca a, .barra-busca h6, .barra-busca input{
	font-size: 16px;
	font-weight: 200;
	color: 333;
}

ul.menu-busca {
	text-align: center;
	padding:0 10px;
	margin:0;
	display: inline-block;
}
.barra-busca h6, .barra-busca input{
	display: inline-block;
}
.search .titulo{
	padding-bottom:5px;
}
 .resultados-cont{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}
.form-busca{
	display: inline-block;
	position: relative;
	margin:0 20px;
}
.form-busca .form-group{
	margin: 0;
}
.form-busca .btn.botao-busca{
	    position: absolute;
    bottom: 0;
    border: 0;
    right: 0;
    background: transparent;
    outline: 0;
    max-height: 100%;
}
.form-busca .form-group input{
	background-color: #cecece;
	border:0;
	outline: 0;
	box-shadow: none;
}
/*search.php*/
/*search.php*/
/*search.php*/
/*search.php*/
/*search.php*/
/*search.php*/



/*single publicacao*/
/*single publicacao*/
/*single publicacao*/
/*single publicacao*/
/*single publicacao*/
.single-publicacao .download-btn{
	position: relative;
}

/*single publicacao*/
/*single publicacao*/
/*single publicacao*/
/*single publicacao*/
/*single publicacao*/
/*archive-publicacoes category.php*/
/*archive-publicacoes category.php*/
/*archive-publicacoes category.php*/
/*archive-publicacoes category.php*/
/*archive-publicacoes category.php*/
/*archive-publicacoes category.php*/
.archive.post-type-archive-publicacao #footer {
    border-top: solid 15px  #c34b4c!important;
}
.archive.post-type-archive-publicacao .pagination>li>a,.archive.post-type-archive-publicacao ul.page-numbers>li>a,.archive.post-type-archive-publicacao .pagination>li>span, .archive.post-type-archive-publicacao ul.page-numbers>li>span{
	color: #c34b4c;
}
.archive.post-type-archive-publicacao .header-interna .navbar-form input[type="search"]{
	background-color: #a23435;
}
.archive.post-type-archive-publicacao ul.page-numbers>li>span.current,.archive.post-type-archive-publicacao ul.page-numbers>li>span.current:hover, .archive.post-type-archive-publicacao ul.page-numbers>li>span.current:focus{
	background-color: #c34b4c;
    border-color: #c34b4c;
    color: #fff;
}
.archive.post-type-archive-publicacao  #header.header-interna{
	background: #c34b4c;
}
.archive.post-type-archive-publicacao  .cada-publicacao-archive a,
.archive.post-type-archive-fonte  .cada-publicacao-archive a{

	color: #333333;
	font-weight: 200;
}
.archive.post-type-archive-publicacao  .cada-publicacao-archive  p,
.archive.post-type-archive-fonte  .cada-publicacao-archive  p{

	color: #333333;
	font-weight: 200;
}
.archive.post-type-archive-publicacao  .cada-publicacao-archive,
.archive.post-type-archive-fonte  .cada-publicacao-archive
{

	background: #f2f2f2;
	position: relative;
	margin-bottom:30px;
}
.archive.post-type-archive-publicacao  .cada-publicacao-archive .titulo-publicacao-archive{
	padding: 25px 40px!important;
}
.download-btn {
	bottom:0;
	right: 0;
	position: absolute;
	border:0;
	padding: 0;
	box-shadow: none;

}
/*archive-publicacoes category.php*/
/*archive-publicacoes category.php*/
/*archive-publicacoes category.php*/
/*archive-publicacoes category.php*/

/*fonte*/
/*fonte*/
/*fonte*/
.archive.post-type-archive-fonte .cada-publicacao-archive:nth-child(2n+1){
clear:left;
}
.archive.post-type-archive-fonte .cada-publicacao-archive{
	padding: 15px 30px!important;
    min-height: 287px;
    border: solid 15px white;
    margin-bottom: 0!important;
}
.archive.post-type-archive-fonte .cada-publicacao-archive a{
	color:#337ab7;
	font-style: italic;

}
.archive.post-type-archive-fonte #email{
	display: block;
}
.archive.post-type-archive-fonte .cada-publicacao-archive p {
    margin: 0 0 0px;
}
.archive.post-type-archive-fonte .cada-publicacao-archive p:first-of-type {
	margin:0 0 10px 0;
}
/*fonte*/
/*fonte*/
/*fonte*/
.page-template-page-home-banco.page #footer{
	border-top: solid 15px #9ab87a!important;

}
main{
	background-color: #fff;
}
#resumo-fundo{
	padding: 65px 0 20px;
	background-image:url('../images/fundo-header-banco.png'); 
	background-color: #f8f8f8;
	background-size: cover;
}
#resumo>div{
	text-align: right;
}
#resumo p:nth-child(5){
	max-height:0;
	overflow: hidden;
	-webkit-transition: max-height 1;
	-moz-transition: max-height 1s;
	transition: max-height 1s;
}
#resumo a, #resumo a:active, #resumo a:hover{
	color:#7E7878;
}
#novos-logo{
	width: 263px;
	margin-top:20px;
}
#resumo h1{
	text-transform: uppercase;
	font-size: 50px;
	color: #ff754c;
}

#resumo p, .cada-pratica-lista p{
	font-size: 16.5px;
	font-family: 'Source Sans pro', sans-serif;
	text-align: center;
	font-weight: 400;
	color: #6B6A6A;
	margin-top: 20px
}
#resumo #continue{
	font-weight: 400;
	font-style: italic;
}
#busca-cadastro{
	background-color: #fff;
}
.row{
    width: 980px;
    margin:0 auto;

}
#busca-cadastro {
	padding: 50px 0!important;
}
.banco h1{
	font-size: 36px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	color: #7E7878;
	font-weight: 100;

}
.banco h2{
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	color: #7E7878;
	font-weight: 100;

}
.banco h3{
	font-size: 21px;
	font-style: italic;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
	width: 250px;
	display: block;
	margin:0 auto;
	text-align: center;
	color: #7E7878;
	margin-bottom: 25px

}
.banco h4{
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 200;
	color: #7E7878;

}
#busca-cadastro >div:first-child {
	padding-right: 18px!important;
}
#busca-cadastro >div:nth-child(2) {
	padding-left: 18px!important;
}
.form-control { border-radius: 0; }

#busca-cadastro form>input,#continua-cadastro form input,#continua-cadastro form select,#busca-cadastro form>select, #busca-cadastro form option{
	height:40px;
	color:#fff;
	background-color: #9ab87a;
	font-size: 16.5px;
	border-radius: 0!important;
   border: 1px solid #ccc;
   margin-bottom: 15px;
   padding-left:10px;
   font-weight: 100;

	font-family: 'Source Sans pro', sans-serif;


}
#busca-cadastro form>select, #busca-cadastro form option, #continua-cadastro form select, #continua-cadastro form option{
	-webkit-appearance: none;
   background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('../images/seta-box.png');
    padding: .5em;
    padding-right: 1.5em
}
#busca-cadastro form option:first-child{
    font-weight: 100;

}
.home-banco  input::-webkit-input-placeholder {
    color:    #fff;
    font-weight: 100
}
.home-banco input:-moz-placeholder {
    color:    #fff;
    font-weight: 100;
}
.home-banco  input::-moz-placeholder {
    color:    #fff;
    font-weight: 100;
}
.home-banco  input:-ms-input-placeholder {
    color:    #fff;
    font-weight: 100;
}
#busca-cadastro input{
	width: 100%;
}
#busca-cadastro select, #continua-cadastro select{
	width: 100%;
}
#busca-cadastro select.uf{
	width:33%;
}
#busca-cadastro select.cidade{
	width:63%;
	float:right;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
	}
	.cidade-carregando{
		position: absolute;
		opacity: 0;
		-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
	}
select:disabled, input:disabled{
	opacity: 0.7;
}	
#pesquisa a span{
	font-size: 20px;
	color: #9ab87a;
	font-size:40px;
	font-style: normal;
	margin-right: 10px;
	padding-top:5px;
}
#pesquisa a, #cadastro a, #enviar-cadastro {
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	font-weight: 100;
	color: #7E7878;
	font-size: 15px;
}
 #enviar-cadastro:hover {
 	color:#000;
 }
#busca-cadastro .enviar{
	font-size:22px;
	float: right;
}
#busca-cadastro .enviar img{
	margin-left: 17px;
	vertical-align: bottom;
}
#modificar h3{
	text-align: center;
	width: 100%
}
#modificar a{
	color: #9ab87a;
}
#continua-cadastro{
	display: none;
}
#continua-cadastro input, #continua-cadastro textarea {
	width:100%;
}
#continua-cadastro h3{
	font-weight: 300;
	margin: 18px 0;
	width: 100%;
    font-size: 33px;


}
.col-cadastro:first-child{
	padding-right: 20px!important;
	float: left;
}
.col-cadastro:nth-child(2){
	padding-left: 20px!important;
	float: left
}
#subtema{
	display: none;
}
#enviar-cadastro{
	display:block;	
	text-align: center;
	margin:20px auto 0;
	float: none;
	clear: both;
    width: 70px;

}

#footer{
	font-size: 16px;
	font-weight: 100;
	position: relative;
	height: initial;
	background-color: #605f65;
	text-align: left;
	color: #fff;
	border-top:solid 15px #9ab87a;
	padding: 45px 0;
	font-family: 'Source Sans pro', sans-serif!important;
}

.archive #footer, .search #footer{
	border-top: solid 15px rgb(22,122,192)!important;

}
.post-type-archive-pratica.archive #footer{ 
	border-top:solid 15px #9ab87a!important;

}
#form-footer{
	padding: 0 50px!important;
}
#footer ul{
	list-style: none;
	padding: 0;
}
#footer ul a{
	color:#fff;
}
#footer input, #footer textarea{
	width: 100%;
	height:40px;
	margin-top: 10px;
	padding-left: 10px;
}
 #footer textarea{
 	height: 100px;
 }
#footer input[type="submit"]{
	width:150px;

}
#footer h4{
	font-size:24px;
	text-transform: uppercase;
}
.feito-por img {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    width: 45px;
}
.feito-por img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
#info-footer p{
	color: #F2EEEE;
margin:5px 0 0;
	}
#info-footer a:focus{
    outline: none!important;
}	
.social-footer{
	border-radius: 11px;
	margin-top:15px;
	max-width: 34px;
}
.header-todos .navbar-form{
	margin-top:15px;
}
#info-footer img{
	margin-bottom: 15px;
}
#rodape-baixo{
    margin: 23px auto;
    background-color: transparent;
}
/*busca de pratica*/
/*busca de pratica*/
.row.page-header{
	border-bottom: 3px solid #9ab87a;

}
.cada-pratica-lista hr{
	height: 2px;
	color: #9ab87a;
}
.busca-banco #resumo p, .tax-tema #resumo p, .tax-tema #resumo p{
	margin-top:0;
	text-align: left;
}
.busca-banco .entry-meta, .tax-tema .entry-meta{
	margin-top:20px;
	
}
.busca-banco .entry-title, .tax-tema .entry-title{
	text-align: left;
}
.busca-banco .entry-title a, .tax-tema .entry-title a{
	color:  #9ab87a;

	text-decoration: none;
}
.cada-pratica-lista span{
	font-weight:100;
	font-style:italic;
	text-transform: uppercase;
	color:  #9ab87a;
	margin-right: 5px;
}
.cada-pratica-lista p{
	text-align:left;
	margin:10px 0;
}
.cada-pratica-lista img{
	border: 3px solid #9ab87a;
}
.cada-pratica-lista hr{
	border-top: 3px solid #9ab87a;

}
.saiba {
text-align: right;
text-transform: uppercase;
font-weight: 200;
font-size: 20px;
	margin-top:20px;

}
.saiba a{
	border:1px solid  #9ab87a;
	padding:10px;
	color:  #fff;
	background-color:#9ab87a; 
	font-weight: 200;

}
.saiba a:hover{
	background-color:  #fff;
	color:#9ab87a; 
}
.busca-banco  h4 , .tax-tema  h4 {
    font-size: 21px;
    margin-bottom: 19px;
    text-align: center;
    text-decoration: underline;
}
.busca-banco h2 span, .tax-tema h2 span{
	font-size:28px;
	margin-right: 5px;

	color:#7E7878;
	text-transform: inherit;
}
/*busca de pratica*/
/*busca de pratica*/
.pagination>li>a, ul.page-numbers>li>a, .pagination>li>span, ul.page-numbers>li>span{
	color:#9ab87a;
}
.post-type-archive-pratica.search ul.page-numbers>li>span.current{
		background-color:#9ab87a;
	border-color: #9ab87a;
}
.post-type-archive-pratica.search ul.page-numbers>li>a{
	color: #9ab87a;
}
ul.page-numbers>li>span.current, ul.page-numbers>li>span.current:hover, ul.page-numbers>li>span.current:focus{
	background-color:#9ab87a;
	border-color: #9ab87a;
}


.file-upload {
	margin-top: 15px;
	position: relative;
	display:block;	
	width:150px;
	height:150px;
	border-radius: 3px;
	background-color:transparent;
	font-size: 14px;
	color:#9ab87a;
	text-align: center; 
	line-height: 150px;
	border:solid 1px #9ab87a;
    margin-bottom: 50px;

}

.file-upload input {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
}

.file-preview img{
	width:100%;
	height: auto;
}
#ibenic_file_input{
	height:150px!important;
}
.file-preview .ibenic_file_preview {
	position: absolute;
	width:100%;
	height:100%;
	overflow: hidden;
}

.ibenic_file_delete {
	position: absolute;
	width: 100%;
	top:98%;
	left:0;
	padding:0.5em;
	text-align: center;
	color:white;
	background-color:#9ab87a;
}
#erro p{
	color:red;
}
main#content{
	background-color: transparent;
	padding-bottom: 60px!important;
}
#continua-cadastro label{
	margin-top: 0;
	opacity: 0.8;
	font-size:10px;
	margin-bottom: 15px;
}
#continua-cadastro input[name="site_da_entidade"], #continua-cadastro input[name="e-mail_de_contato"], #continua-cadastro input[name="files_gal[]"], #continua-cadastro input[name="files[]"]{
	margin-bottom: 0;
}
#anexosUp, #anexosUpGal{
	width: 50%;
}
label.cabinet input.file
{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.ajax-loader{
	background-image:url('../images/ajax-loading.gif');
	width: 16px;
	height: 16px;
	left: 45%;
	top:-15px;
    position: relative;
    display: none;

}
#ibenic_file_upload .ajax-loader{
	top:27%;
}
.single-pratica h1{
	text-transform: uppercase;
	margin-bottom:10px;
	margin-top:50px;
}
.single-pratica h4{
	margin-top: 25px;
	color:#000;
	font-weight: 400;
}
.single-pratica #footer h4{
	color:#fff;
}
.single-pratica #sidebar{
	margin-top:25px;
	width:20%;
	float:left;
	position: absolute;
}
.single-pratica #sidebar ul{
	list-style: none;
}
.single-pratica #sidebar ul a{
	color: #333;
    word-break: break-all;

}
.single-pratica #sidebar ul a:hover{
	color:#000;
}
#single-pratica-conteudo{
	float:right;
	padding-left:40px!important;
}
.single-pratica #temas a{
	padding:12px;
	margin-right:20px;
	display: block;
	float:left;
	background-color:#9ab87a;
	color:#fff;
}
.single-pratica #descricao{
	clear:left;
}
#sidebar.fixo{
	position:fixed;
	top: 20px;
}
#sidebar.fundo{
	bottom:800px;
}
#sidebar p{
	margin-top: 2px;
    word-break: break-word;
;

}
#sidebar h5{
	margin-bottom: 2px;
	margin-top:0;
}
#sidebar h4{
	margin-top: 10px;
	margin-bottom: 0;
}
.single-pratica #resumo-fundo{
	padding-top:0;
}
#login{
	/*padding-top: 50px!important;*/
}
#login{
	text-align:center;
}
#login h3{
	width: initial;
}
#login input{
	color:#7E7878;
	border-radius: 0;
}	
#login input[type="submit"]{
	background-color: #9ab87a;
	color: #fff;
	display: inline-block;
}
#login .login-remember, .login-submit{
	display: inline-block;
}
#login label{
	color: #7E7878;
	margin:0 10px;

}
#login #rememberme{
	margin-right: 10px;
	vertical-align: top;
}
#praticas-usuario{
	margin-top: 20px;
}

.deletaGaleria{
	position: absolute;
    top: 50%;
    left: 50%;
    padding: 9px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.48);
    font-size: 16px;
    border-radius: 503px;
    transform: translate(-50%, -50%);
}
.arquivosAnexos .deletaGaleria {
    position: relative;
    top: 0;
    left: 0;
    padding: 0px;
    color: red;
     background-color:transparent; 
    font-size: 15px;
     border-radius: 0; 
     transform: translate(0); 
    float: right;
    margin: 0 0 0 13px;
}
.cadaGaleria{
	position: relative;
	display: inline-block;
}
@media (max-width: 1200px){
	#categorias-nav{
		max-width: 80%;
	}

}
@media (max-width: 1000px){
.row, #header .container {
    width: 95%!important;
    margin: 0 auto;
    display: block;
    float: none;
	}
	.busca-banco #resumo p{
		padding-left:10px;
	}
	
}
@media (max-width: 992px){
	.noticia-titulo a >p{
		display: none;
	}
	html #categorias-conteudo .cada-noticia .noticia-titulo {
		background: rgba(0, 0, 0, 0.31);
    	height: auto;
	}
	.titulo-materia-archive h4{
		font-size:16px;
		    margin-bottom: -10px;

	}
	.home .nav>li>a {
   
    	padding: 10px 5px;
    	font-size: 12px;
	}
	.destaques {
	    padding-right: 0!important;
        text-align: center;

	}
	.contato {
    	padding-left: 0!important;
	}

	.categorias .loader{
		position: absolute;
		left: 50%;
	    transform: translate(-50%, 100px);

	}
	.cada-publicacao-archive{
		padding-top: 20px!important;
	}
	.imagem-publicacao img{
		display: block;
		margin:0 auto;
	}
	.download-btn{
		margin: 20px auto;
		position: relative;
		width: initial;
		background: transparent;
		display: block;
	}
}
@media (max-width: 767px){
	.single-pratica #sidebar.fixo, .single-pratica #sidebar{
		margin-top:25px;
		width:100%;
		position: relative;
		max-width:500px;
		margin:0 auto;
		text-align: center;
		float: none;
		border-bottom:  solid 2px;
		margin-bottom: 40px; 
		clear: both;
	}
	.single-pratica #sidebar.fixo ul, .single-pratica #sidebar ul{
		padding: 0!important;
	}
	#temas a, .single-pratica #temas a {
	    display: block;
	    max-width: 200px;
	    float: none;
	    margin: 0 auto;
	}
	#nav_pratica_titulo, #sidebar .item-menu{
		display: none;

	}
	html #single-pratica-conteudo{
		clear: both;
		width: 100%;
		max-width:500px;
		margin:0 auto;
		text-align: center;
		padding-left:0!important;
		float: none;

	}
	.box-titulo {
	    right: 0;
	    max-width: 435px;
	    bottom: 0;
	    position: relative;
	    transform: translate(0%, 0%);
	 
	}
	.thumb-page.wp-post-image{
		margin-top: 141px!important;
	}
	#footer div{
	    text-align: center;

	}
	.header-interna .navbar-main-navigation{
		left: 0;
	}
	.destaques-contato .contato> div, .pre-footer .box-footer,  main#content div.box-footer, main#content .destaques-contato .contato> div{
		background-color: #ff754c;
	}
	.header-interna #main-navigation h4{
		display: none;	
	}
	
	.header-interna .navbar-form {
    	width: 80%;
    	margin:0 auto;
	}
	main#content, main#content div{
		background: transparent;
	}
	.titulo-materia-archive {
    position: relative;
    padding: 20px;
    max-width: 350px;
        width: 100%;

    margin:0 auto;
	}
	.cada-noticia-archive  img.wp-post-image, 	.imagem-publicacao img{
		display: block;
		margin:0 auto;
	}
	#main-navigation nav {
    	padding-left: 0;
    	width: 100%;
    	float: left;
	}
	.texto-header {
    	padding-right: 0px!important;
	}
	#header.header-todos form {
    	margin: 0 auto;
    	    width: 100%;

	}
	#main-navigation nav li:first-child, #main-navigation nav li:first-child a{
	    margin: 0 12px;
	}
	.cada-noticia {
	    background-color: #fff;
	    border-bottom: solid 3px #ff754c;
	    padding-bottom: 37px!important;
	}
	.cada-noticia .noticia-titulo{
		position: relative;
		opacity: 1;
	}

	.cada-noticia img {
	    margin: 0 auto;
	    display: block;
	}
	.noticia-titulo a{
		color: #000;
	}
	.cada-noticia:hover img{
		opacity: 1
	}
	#categorias-nav li a{
		font-size:17px;
	}
	.saiba {
	text-align: center;
	
	}
	.cada-pratica-lista img{
    float: none;
    margin: 0 auto;
    display: block;
	}
}
@media (min-width: 1150px){
	.archive main.row{
		width: 1100px;
	}  
}
@media (min-width: 768px){
	.header-interna .navbar-toggle {
   		 display: block; 
	}
	.navbar-collapse.collapse {
    	display: none !important;
	}
	.home .navbar-collapse.collapse{
		   		 display: block!important; 

	}
}

@media (min-width: 700px){
	.share-jetpack-whatsapp{
		display: none!important;
	}
}



/*em caso de erro depois da atualizacao*/
input.form-control {
	padding:0 40px 0 5px!important;
}
.form-busca .form-group input{
	width: 150px;
}
.header-interna .navbar-form input[type="search"]{
	width: 250px;
}